body {
  background-color: #000;
  text-align: center;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

p {
  text-align: center;
  color: gray;
  font-size: 21px;
  font-family: Verdana, sans-serif;
}

.cta {
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.footer p {
  text-align: right;
}
